<div class="main-page-admin-supplier d-flex flex-row p-5">
  <div class="filter-with-items" style="width: 20%">
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Filter by item name"
        [(ngModel)]="filterTerm"
        (ngModelChange)="filterItems()"
        [matAutocomplete]="auto"
        (click)="resetOption()"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions" [value]="item.item_name" (click)="addToFilteredItems(item); filterTerm = ''">
          {{ item.item_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <div *ngFor="let item of filteredItems" class="d-flex align-items-center px-2 my-2 chipsItem">
        <span class="px-2 text-nowrap">{{ item.item_name }}</span>
        <div class="p-2">
          <button mat-icon-button color="warn" (click)="removeFromFilteredItems(item)">
            <i class="fa-solid fa-x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 80%" class="px-5 supplier-right-side">
    <!-- header filter -->
    <div class="main-header mb-2">
      <!-- <mat-form-field class="w-25">
        <mat-label>Company</mat-label>
        <mat-select [(ngModel)]="selectedCompanyId" (valueChange)="companyFilter()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let company of requestorCompanies" [value]="company.company_id">{{ company.company_name }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="w-25">
        <mat-label>Company</mat-label>
        <mat-select [(ngModel)]="selectedCompanyId" (ngModelChange)="companyFilter()">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let company of requestorCompanies" [value]="company.company_id">
            {{ company.company_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-flex flex-row gap-2">
        <mat-form-field>
          <mat-label>Filter Date</mat-label>
          <mat-select [(ngModel)]="dateFilter" (ngModelChange)="index()">
            <mat-option value="this_day">This Day</mat-option>
            <mat-option value="this_week">This Week</mat-option>
            <mat-option value="this_month">This Month</mat-option>
            <mat-option value="custom">Custom</mat-option>
            <mat-option value="all">All</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="dateFilter === 'custom'">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="customFromDate" (ngModelChange)="index()" />
            <input matEndDate placeholder="End date" [(ngModel)]="customToDate" (ngModelChange)="index()" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <!-- list of request  -->
    <div class="request-list-section pb-5" *ngIf="orderListFiltered">
      <div matRipple class="supplier-request-list px-5" *ngFor="let item of orderListFiltered" (click)="orderShow(item)">
        <div class="request-list-header">
          <div class="d-flex flex-row">
            <div class="reqeust-list-img-container"><img [src]="item.logo_url" alt="" class="me-3" /></div>
            <div>
              <div class="fs-5 fw-bold mb-1">{{ item.company_name }}</div>
              <i class="fa-solid fa-calendar me-2 text-secondary"></i
              ><small class="text-secondary">{{ item.updated_at | date : 'longDate' }} - {{ item.updated_at | date : 'shortTime' }}</small>
            </div>
          </div>
          <div *ngIf="item.date_needed">
            <div class="text-white px-3 rounded py-1 d-flex flex-row" style="background-color: var(--accent-color)">
              <div>Date needed</div>
              <div class="rounded px-3 bg-white text-secondary ms-2 text-center">
                {{ item.date_needed | date : 'longDate' }}
              </div>
            </div>
          </div>
        </div>
        <div class="request-list-body mb-3">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex" *ngFor="let row of item.order_list.slice(0, 4); let last = last">
              <div class="px-3 d-flex align-items-center"><img [src]="row.item_image_url" alt="" width="40px" /></div>
              <div class="px-3 d-flex align-items-center">{{ row.item_name }}</div>
              <div class="px-3 d-flex align-items-center">
                <span class="fs-4 me-2">{{ row.order_quantity }}</span>
                <small class="text-secondary px-2 rounded fw-light">{{ row.unit }}</small>
              </div>
            </li>
            <li *ngIf="item.order_list.length > 4" class="list-group-item more-items-message border-0 d-flex p-0 px-3 ms-4 mt-2">
              and {{ item.order_list.length - 4 }} more items
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-between align-items-end">
          <div class="d-flex flex-row gap-4">
            <div class="text-white px-3 rounded py-1 d-flex flex-row" style="background-color: var(--primary-color)">
              <div>Items</div>
              <div class="rounded-circle bg-white text-secondary ms-2 text-center" style="width: 20px; height: 20px">
                {{ item.order_list.length }}
              </div>
            </div>
            <div
              *ngIf="item.transaction_type === 'Pick Up'"
              class="text-white px-3 rounded py-1 d-flex flex-row align-items-center"
              style="background-color: var(--accent-color)"
            >
              <i class="fa-solid fa-truck me-3"></i><span>{{ item.transaction_type }}</span>
            </div>
            <div
              *ngIf="item.transaction_type === 'Deliver'"
              class="text-white px-3 rounded py-1 d-flex flex-row align-items-center"
              style="background-color: var(--primary-color)"
            >
              <i class="fa-solid fa-truck me-3"></i><span>{{ item.transaction_type }}</span>
            </div>
            <div
              *ngIf="item.transaction_type === 'Pick Up/Deliver'"
              class="text-white px-3 rounded py-1 d-flex flex-row align-items-center"
              style="background-color: var(--danger-color)"
            >
              <i class="fa-solid fa-truck me-3"></i><span>{{ item.transaction_type }}</span>
            </div>
          </div>

          <div class="d-flex flex-row bidders-count align-items-end p-2">
            <span class="text-secondary me-4 fw-bold">Bidders : </span>
            <img [src]="item.logo_url" alt="" />
            <img [src]="item.logo_url" alt="" />
            <img [src]="item.logo_url" alt="" />
            <img [src]="item.logo_url" alt="" />
            <span
              class="text-white me-3 rounded-circle p-1 d-flex justify-content-center align-items-center"
              style="width: 30px; height: 30px; background-color: var(--primary-color)"
              >+4</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" *ngIf="loader">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="shadow-loader"></div>
  <div class="shadow-loader"></div>
  <div class="shadow-loader"></div>
</div>
