<div class="main-container" *ngIf="filteredInventoryData">
  <div class="filter">
    <h3>Category</h3>
    <hr />
    <ul>
      <li *ngFor="let category of categoryData">
        <button class="category-toggle" [class.active]="selectedCategory === category.category_id" (click)="toggleCategory(category.category_id)">
          {{ category.category }}
        </button>
      </li>
    </ul>
    <br /><br />
    <hr />
    <h3>Sort By</h3>
    <hr />
    <ul>
      <li>Name</li>
      <li>Sort 2</li>
      <li>Sort 3</li>
      <li>Sort 4</li>
    </ul>
  </div>
  <div class="product-list">
    <div class="product-list-header d-flex justify-content-between">
      <div class="container-input">
        <input type="text" placeholder="Search item" name="text" class="input" [(ngModel)]="searchTerm" (input)="performSearch()" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div>
        <h5 class="text-secondary ms-3">Showing results : {{ filteredInventoryData.length }}</h5>
      </div>
    </div>
    <div class="list-container">
      <div class="item-card" *ngFor="let item of filteredInventoryData">
        <div class="item-img-container">
          <img [src]="item.item_image_url" alt="img" />
        </div>
        <div class="name-price d-flex row mb-4">
          <div class="item-name w-50">{{ item.item_name }}</div>
          <div class="item-price w-50 text-end">{{ item.item_price | number : '1.2-2' }}</div>
        </div>
        <div class="item-description">{{ item.item_description }}</div>
        <div class="quantity mb-4">
          <div class="button-group mb-4">
            <button class="minus" (click)="decreaseCount(item)">-</button>
            <input type="text" id="item_count" class="count" [(ngModel)]="item.count" inputmode="numeric" (keydown)="onKeyDown($event)" />
            <button class="plus" (click)="increaseCount(item)">+</button>
          </div>
          <div class="add-btn d-flex justify-content-center">
            <button class="btn-primary" (click)="addToCart(item)"><i class="fa-solid fa-cart-shopping"></i>Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart">
    <div class="request-header">
      <h3 class="cart-header">Cart</h3>
    </div>
    <div class="request-list">
      <!-- sample  -->
      <div class="request-item-container" *ngFor="let item of cartList">
        <div class="request-item">
          <div class="name-quantity">
            <div>{{ item.item_name }}</div>
            <div>x{{ item.count }}</div>
          </div>
          <div class="request-item-price">{{ item.totalPrice | number : '1.2-2' }}</div>
        </div>
        <div class="request-remove" (click)="removeItemFromCart(item)"><i class="fa-solid fa-circle-xmark"></i></div>
      </div>
    </div>
    <div class="request-footer d-flex flex-column align-items-center">
      <div class="w-100 mb-3 total-price d-flex justify-content-between px-3">
        <span class="fs-5"> Total : ₱ {{ calculateTotalAmount() | number : '1.2-2' }}</span>
        <span class="fs-6"> Item : {{ calculateTotalItems() }}</span>
      </div>
      <button class="btn-primary" (click)="processRequest()">Process Request</button>
    </div>
  </div>
</div>
