<mat-dialog-content class="d-flex justify-content-center">
  <div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">Request Form</h2>
    </div>
    <div class="modal-header-space">&nbsp;</div>

    <div class="w-100 d-flex justify-content-end mb-3">
      <span class="text-secondary">Date:</span><span>&nbsp; {{ currentDate | date : 'longDate' }}</span>
    </div>

    <table class="table w-100 mb-5">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ITEM NAME</th>
          <th scope="col">QUANTITY</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.cart; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ item.item_name }}</td>
          <td>
            {{ item.count }} <small class="text-secondary" style="font-size: 0.8rem">{{ item.unit.unit }}</small>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <hr class="w-100 dashed-hr" /> -->
    <mat-form-field class="mb-4 w-100">
      <mat-label>Date Needed (Optional)</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateNeeded" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="w-100">
      <mat-form-field class="w-100">
        <mat-label>Leave Message (Optional)</mat-label>
        <textarea tabindex="-1" matInput placeholder="Write here your message" [(ngModel)]="message"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="confirm-modal-action">
  <div class="modal-footer">
    <button class="btn-tertiary" [mat-dialog-close]="false" tabindex="-1">Cancel</button>

    <button class="btn-primary" tabindex="-1" (click)="onSubmitConfirm()">Submit</button>
  </div>
</mat-dialog-actions>
